<div id="logo">
    <form class="h-100 d-flex flex-column justify-content-center align-items-center" id="login">
        <div class="my-2">
            <i class="bi bi-person-fill"></i><input type="text" Placeholder="Username">
        </div>
        <div class="my-2">
           <i class="bi bi-lock-fill"></i><input type="text" Placeholder="Password">
        </div>
        <div class="my-2">
            <button type="button" class="btn btn-primary">Entra</button>
        </div>
        <div class="my-2" id="transp">
            <p>Non hai ancora un account? <a href="">Registrati</a></p>
        </div>
    </form>
</div>