<div class="row">
    <div class="col">
        <div class="card mt-5 mb-3 ml-5 mr-2" style="width: 90%;">
            <div class="card-header bg-dark text-light">
                Info Contatto
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Nome: {{dettaglio.nomeContatto}}</span></li>
                <li class="list-group-item"><span>Cognome: {{dettaglio.cognomeContatto}}</span></li>
                <li class="list-group-item"><span>Telefono: {{dettaglio.telefonoContatto}}</span></li>
                <li class="list-group-item"><span>Email: {{dettaglio.emailContatto}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card mt-5 mb-3 ml-5 mr-2" style="width: 90%;">
            <div class="card-header bg-dark text-light">
                Sede Legale
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Via: {{dettaglio.indirizzoSedeLegale.via}}</span></li>
                <li class="list-group-item"><span>Num: {{dettaglio.indirizzoSedeLegale.civico}}</span></li>
                <li class="list-group-item"><span>Cap: {{dettaglio.indirizzoSedeLegale.cap}}</span></li>
                <li class="list-group-item"><span>Localtà: {{dettaglio.indirizzoSedeLegale.localita}}</span></li>
                <li class="list-group-item"><span>Comune: {{dettaglio.indirizzoSedeLegale.comune. nome}}</span></li>
                <li class="list-group-item"><span>Provincia: {{dettaglio.indirizzoSedeLegale.comune.provincia.nome}}
                ({{dettaglio.indirizzoSedeLegale.comune.provincia.sigla}})</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-5 mt-3 ml-5 mr-2" style="width: 90%;">
            <div class="card-header bg-dark text-light">
                Info Azienda
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Ragione sociale: {{dettaglio.ragioneSociale}}</span></li>
                <li class="list-group-item"><span>P.IVA: {{dettaglio.partitaIva}}</span></li>
                <li class="list-group-item"><span>Tipo cliente: {{dettaglio.tipoCliente}}</span></li>
                <li class="list-group-item"><span>Email: {{dettaglio.email}}</span></li>
                <li class="list-group-item"><span>Pec: {{dettaglio.pec}}</span></li>
                <li class="list-group-item"><span>Telefono: {{dettaglio.telefono}}</span></li>
                <li class="list-group-item"><span>Fatturato annuale: {{dettaglio.fatturatoAnnuale}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5 mt-3 ml-5 mr-2" style="width: 90%;">
            <div class="card-header bg-dark text-light">
                Sede Operativa
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Via: {{dettaglio.indirizzoSedeOperativa.via}}</span></li>
                <li class="list-group-item"><span>Num: {{dettaglio.indirizzoSedeOperativa.civico}}</span></li>
                <li class="list-group-item"><span>Cap: {{dettaglio.indirizzoSedeOperativa.cap}}</span></li>
                <li class="list-group-item"><span>Localtà: {{dettaglio.indirizzoSedeOperativa.localita}}</span></li>
                <li class="list-group-item"><span>Comune: {{dettaglio.indirizzoSedeOperativa.comune. nome}}</span></li>
                <li class="list-group-item"><span>Provincia: {{dettaglio.indirizzoSedeOperativa.comune.provincia.nome}}
                        ({{dettaglio.indirizzoSedeOperativa.comune.provincia.sigla}})</span></li>
            </ul>
        </div>

    </div>
</div>